@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.section_banner {
  background-image: url("/src/assets/images/planta.png");
  padding: 12.75%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff3e3;
  margin-right: -100px;
  margin-top: 70px;
  margin-left: 550px;
  margin-bottom: -45px;
}

.btn_section {
  border: solid #b88e2f;
  background-color: #b88e2f;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  width: 40%;
  margin-left: 50px;
  margin-bottom: 25px;
  justify-content: left;
  align-items: left;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.title_section {
  color: #b88e2f;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  padding-bottom: 1%;
  margin-left: 25px;
}

.text_section {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  gap: 10px;
  justify-content: left;
  margin-left: 25px;
  margin-bottom: 25px;
}
.text_section_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  gap: 10px;
  margin-top: 25px;
  justify-content: left;
  margin-left: 25px;
  margin-bottom: 5px;
}
