@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.Meio3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 20px;
   
    
  }
  .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  .texto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    margin-bottom: 5%;
  }
  .separacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333333;
    gap: 320px;
    margin-top: 2%;
  }